// Кнопки

.btn {
  display: inline-block;
  vertical-align: middle;
  background: none;
  outline: 0 none;
  background-color: transparent;
  text-transform: uppercase;
  color: $blue;
  max-width: 120px;
  width: 100%;
  height: 40px;
  border: 1px solid $blue;
  border-radius: 2px;
  font-family: $font-hammersmith-regular;
  font-size: 16px;
  font-weight: 400;
  line-height: 40px;
  padding: 0;
  @include transition();
  &:hover{
    background-color: $blue;
    color: $text-color!important;
  }
}
