// Все элементы формы

input[type='text'],
input[type='email'],
input[type='tel'],
input[type='url'],
input[type='search'],
input[type='password'],
textarea,
select {
  font-family: inherit;
  width: 100%;
  max-width: 100%;
  background: none;
  outline: 0 none;
  border: 1px solid #dedede;
  padding: 14px 19px;
  color: $text-color;
  background-color: #fff;
  margin-top: 8px;
  margin-bottom: 13px;
}
textarea::placeholder,
input::placeholder{
  color: rgba($text-color, .5);
  text-transform: capitalize;
}
textarea:-ms-input-placeholder,
input:-ms-input-placeholder{
  color: rgba($text-color, .5);
  text-transform: capitalize;

}
textarea::-moz-placeholder,
input::-moz-placeholder{
  color: rgba($text-color, .5);
  text-transform: capitalize;

}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder{
  color: rgba($text-color, .5);
  text-transform: capitalize;

}
iframe{
  width: 100%!important;
}
.close {
  width: 22px;
  height: 22px;
  position: absolute;
  top: 10px;
  right: 10px;
  &:after{
    content: "X";
    font-size: 30px;
    color: $white;
  }
}