//  Базовые стили

html {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: $white;
  color: $text-color;
  font-family: $font-family;
  font-weight: $font-weight;
  font-size: $font-size;
  line-height: $line-height;
  margin: 0;
  padding: 0;
}

a {
  color: $link-color;
  text-decoration: none;
  @include transition();
  &:hover,
  &:active {
    color: $link-color--hover;
    text-decoration: none;
  }
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

section {
  position: relative;
}

ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  max-width: $container-width;
  margin-left: auto;
  margin-right: auto;
  padding-left: $container-padding;
  padding-right: $container-padding;
}

.icon {
  display: inline-block;
}

// flex box

.display-flex{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.flex-justify-content-between{
  justify-content: space-between;
}
.flex-justify-content-around{
  justify-content: space-around;
}
.flex-justify-content-center{
  justify-content: center;
}
.flex-justify-content-end{
  justify-content: flex-end;
}
.flex-justify-content-evenly{
  justify-content: space-evenly;
}
.flex-align-content-between{
  align-content: space-between;
}
.flex-align-content-center{
  align-content: center;
}
.flex-align-content-start{
  align-content: flex-start;
}

.flex-align-items-center{
  align-items: center;
}
.flex-align-items-start{
  align-items: flex-start;
}
.flex-direction-column{
  flex-direction: column;
}

.underline-title{
  position: relative;
  z-index: 0;
  &:after{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -22px;
    margin: 0 auto;
    width: 50px;
    height: 1px;
    background-color: $blue;
  }
}
.mask{
  position: relative;
  z-index: 0;
  &:after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.85;
    background-image: linear-gradient(to right, #09052f 0%, #311d5e 100%);
    z-index: 1;
  }
  &-before{
    position: relative;
    z-index: 0;
    &:before{
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      opacity: 0.85;
      background-image: linear-gradient(to right, #09052f 0%, #311d5e 100%);
      z-index: 1;
    }
  }
}
.color-white{
  color: $white;
  a{
    color: $white;
    &.btn{
      color: $blue;
    }
  }
}
.subtitle{
  font-family: $font-display-regular;
  font-size: 14px;
  display: inline-block;
}
.icon{
  &-location{
    width: 14px;
    height: 19px;
    background: url("../images/location.png") center no-repeat;
    display: inline-block;
  }
  &-phone{
    width: 17px;
    height: 17px;
    background: url("../images/phone.png") center no-repeat;
    display: inline-block;
  }
}
.menu-icon {
  display: none;
  color: #fff;
  font-size: 30px;
  position: relative;
  z-index: 2;
  &:hover{
    color: $white;
  }
  @include max-w(640){
    display: inline-block;
  }
}