//  Подключения шрифтов

// font-family: 'Roboto';
@font-face {
  font-family: 'RobotoLight';
  src: url('../fonts/Roboto-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Roboto-Light.woff') format('woff'),
  url('../fonts/Roboto-Light.ttf')  format('truetype'),
  url('../fonts/Roboto-Light.svg#Roboto-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RobotoRegular';
  font-weight: normal;
  src:  local('Roboto'), local('Roboto-Regular');
  src:  url('../fonts/Roboto-Regular.eot');
  src:  url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-Regular.woff') format('woff'),
        url('../fonts/Roboto-Regular.ttf') format('truetype'),
        url('../fonts/Roboto-Regular.svg#Roboto-Regular') format('svg');
}

// font-family: 'Roboto';
// font-weight: 700;
@font-face {
  font-family: 'Roboto';
  font-weight: 700;
  src:  local('Roboto'), local('Roboto-Bold');
  src:  url('../fonts/Roboto-Bold.eot');
  src:  url('../fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-Bold.woff') format('woff'),
        url('../fonts/Roboto-Bold.ttf') format('truetype'),
        url('../fonts/Roboto-Bold.svg#Roboto-Bold') format('svg');
}

@font-face {
  font-family: 'RobotoBlack';
  font-weight: normal;
  src:  local('Roboto'), local('Roboto-Black');
  src:  url('../fonts/Roboto-Black.eot');
  src:  url('../fonts/Roboto-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-Black.woff') format('woff'),
        url('../fonts/Roboto-Black.ttf') format('truetype'),
        url('../fonts/Roboto-Black.svg#Roboto-Black') format('svg');
}

@font-face {
  font-family: 'HammersmithOneRegular';
  font-weight: normal;
  src:  local('HammersmithOne-Regular');
  src:  url('../fonts/HammersmithOne-Regular.eot');
  src:  url('../fonts/HammersmithOne-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HammersmithOne-Regular.woff') format('woff'),
        url('../fonts/HammersmithOne-Regular.ttf') format('truetype'),
        url('../fonts/HammersmithOne-Regular.svg#HammersmithOne-Regular') format('svg');
}
@font-face {
  font-family: 'PlayfairDisplayBold';
  font-weight: normal;
  src:  local('PlayfairDisplay-Bold');
  src:  url('../fonts/PlayfairDisplay-Bold.eot');
  src:  url('../fonts/PlayfairDisplay-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/PlayfairDisplay-Bold.woff') format('woff'),
        url('../fonts/PlayfairDisplay-Bold.ttf') format('truetype'),
        url('../fonts/PlayfairDisplay-Bold.svg#PlayfairDisplay-Bold') format('svg');
}
@font-face {
  font-family: 'PlayfairDisplayBlack';
  font-weight: normal;
  src:  local('PlayfairDisplay-Black');
  src:  url('../fonts/PlayfairDisplay-Black.eot');
  src:  url('../fonts/PlayfairDisplay-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/PlayfairDisplay-Black.woff') format('woff'),
        url('../fonts/PlayfairDisplay-Black.ttf') format('truetype'),
        url('../fonts/PlayfairDisplay-Black.svg#PlayfairDisplay-Black') format('svg');
}
@font-face {
  font-family: 'PlayfairDisplayRegular';
  font-weight: normal;
  src:  local('PlayfairDisplay-Regular');
  src:  url('../fonts/PlayfairDisplay-Regular.eot');
  src:  url('../fonts/PlayfairDisplay-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/PlayfairDisplay-Regular.woff') format('woff'),
        url('../fonts/PlayfairDisplay-Regular.ttf') format('truetype'),
        url('../fonts/PlayfairDisplay-Regular.svg#PlayfairDisplay-Regular') format('svg');
}

// Заголовки

h1, h2, h3, h4, h5 {
  font-family: $font-family;
}

h1 {
  font-size: 32px;
}

h2 {
	font-size: 22px;
  font-family: $font-display-bold;
  font-weight: 700;
  margin-bottom: 18px;
}

h3 {
	font-size: 16px;
  text-transform: uppercase;
  font-family: $font-roboto-black;
}

h4 {
  font-size: 14px;
  text-transform: uppercase;
  font-family: $font-roboto-black;
}

h5 {
  font-size: 16px;
}
p{
  font-size: 14px;
  line-height: 24px;
}
section{
  padding: 37px 0;
}
