//  Цвет

$white: #fff;
$black: #000;
$blue: #00e0d0;
$text-color: #413d4b;;

// Цвет ссылки

$link-color: #55b3f3;
$link-color--hover: darken($link-color, 20%);

//  Типографика
$font-family: 'RobotoLight', Helvetica, Arial, sans-serif;
$font-roboto-black: 'RobotoBlack', Helvetica, Arial, sans-serif;
$font-roboto-regular: 'RobotoRegular', Helvetica, Arial, sans-serif;
$font-display-black: 'PlayfairDisplayBlack', Helvetica, Arial, sans-serif;
$font-display-bold: 'PlayfairDisplayBold', Helvetica, Arial, sans-serif;
$font-display-regular: 'PlayfairDisplayRegular', Helvetica, Arial, sans-serif;
$font-hammersmith-regular: 'HammersmithOneRegular', Helvetica, Arial, sans-serif;

// $font-family--helvetica: 'Helvetica Neue', Helvetica, Arial, sans-serif;

$font-size: 14px;
$font-weight: 400; // Regular
$line-height: 1.2;

// Ширина контейнера

$container-padding: 10px;
$container-width: 960px;

//  Адаптивность и соответствующие ширины контейнера

// $screen-xs: 0;
// $screen-sm: 480px;
// $screen-md: 768px;
// $screen-lg: 992px;
// $screen-xl: 1200px;

// Адаптивность под девайсы

$mobile: 480px;
$tablet: 768px;
$desktop: 1200px;