.footer {
	position: relative;
	background: url("./../images/footer.jpg") center/cover no-repeat;
	padding: 72px 0 0 0;
	.container{
		position: relative;
		z-index: 1;
	}
	&__block{
		width: 33.33%;
		@include max-w(640){
			width: 100%;
			padding-left: 0!important;
			max-width: 360px !important;
			margin: 0 auto;
		}
		&~.footer__block{
			padding-left: 20px;
			@include max-w(640){
				h3{
					text-align: center;
				}
			}
		}
		&:first-child{
			max-width: 286px;
			@include max-w(640){
				text-align: center;
			}
		}
		.footer__logo{
			margin-bottom: 20px;
			&+p{
				line-height: 26px;
			}
		}
		h3{
			font-family: $font-roboto-black;
			font-size: 15px;
			text-transform: uppercase;
			margin: 15px 0 34px 0;
		}
	}
	&__contact{
		width: 100%;

		a{
			width: calc(100% - 30px);
			line-height: 25px;
			padding-bottom: 15px;
		}
		&.address{
			padding-right: 15px;
		}
	}

	form.search{
		flex-wrap: nowrap;
		input[type="text"]{
			margin-top: 0;
			background-color: transparent;
			max-width: 211px;
			height: 45px;
			opacity: 0.5;
			color: $white;
			border: 1px solid white;
			@include max-w(640){
				max-width: calc(100% - 80px);
			}
		}
		input::placeholder{
			color: rgba($white, .75);
		}
		input:-ms-input-placeholder{
			color: rgba($white, .75);

		}
		input::-moz-placeholder{
			color: rgba($white, .75);

		}
		textarea::-webkit-input-placeholder{
			color: rgba($white, .75);

		}
		input[type="submit"]{
			max-width: 70px;
			width: 100%;
			height: 45px;
			background-color: rgba($white, .5);
			background-image: url("./../images/send.png");
			background-position: center;
			background-repeat: no-repeat;
			border: none;
			cursor: pointer;
		}
	}
	&__bottom{
		padding: 46px 0 70px 0;
		@include max-w(640){
			flex-direction: column;
			align-items: center;
		}
	}
	.additional-links{
		font-family: $font-roboto-regular;
		max-width: 300px;
		width: 100%;
		@include max-w(640){
			margin-bottom: 20px;
		}
		a{
			&:hover{
				color: $blue;
			}
		}
	}
	.copyright{
		font-family: $font-roboto-regular;
	}
}
.social{
	margin: 15px 0 0 0;
	@include max-w(640){
		justify-content: center;
	}
	li{
		margin-right: 9px;
		margin-bottom: 10px;
	}
	a{
		width: 35px;
		height: 35px;
		display: flex;
		justify-content: center;
		align-items: center;
		border: 1px solid $white;
		border-radius: 50%;
		&:hover{
			color: $blue;
			border-color: $blue;
		}
	}
}
