.header {
  position: relative;
  z-index: 0;
  &__wrap{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 0 15px 0;
    z-index: 1;
  }
}
.menu{
  max-width: 526px;
  width: calc(100% - 148px);
  @include max-w(640){
    position: relative;
    width: calc(100% + 20px);
    max-width: calc(100% + 20px);
    z-index: 0;
    margin: 0 -10px;
    overflow: hidden;
    min-height: 292px;
    ul{
      flex-direction: column;
      align-items: center;
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;
      background-image: linear-gradient(to right, rgba(#09052f, .85) 0%, rgba(#311d5e, .85) 100%);
      transform: translateX(0);
      @include transition();
      padding: 20px;
      li{
        padding: 10px;
      }
    }
  }
  &.active{
    ul{
      transform: translateX(100%);
    }
  }
  a{
    font-family: $font-roboto-black;
    font-size: 13px;
    font-weight: 900;
    text-transform: uppercase;
    color: $white;
    @include transition(color);
    &:hover, &.active{
      color: $blue;
    }
  }
}
.slider{
  &.lazy{
    .slide{
      height: 100vh;
      min-height: 530px;
      position: relative;
      &__info{
        position: absolute;
        left: 0;
        right: 0;
        top: 31%;
        width: 100%;
        max-width: 800px;
        //height: 260px;
        margin: 0 auto;
        padding: 13px 10px 0 10px;
        text-align: center;
        @include max-w(430){
          top: 15%;
        }
        h1{
          font-family: $font-display-black;
          color: $white;
          margin-bottom: 47px;
        }
        p{
          color: $white;
          margin-bottom: 45px;
        }
      }
      .wrap-img{
        height: 100%;
      }
    }
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .slick-dots{
      bottom: 70px;
      li{
        width: 10px;
        height: 10px;
        margin: 0 2.5px;
        button{
          width: 10px;
          height: 10px;
          padding: 0;
          border: 1px solid #c2c2c2;
          border-radius: 50%;
          &:before{
            display: none;
          }
        }
        &.slick-active button{
          border-color: $blue;
          background-color: $blue;
        }
      }
    }
  }
}
