.story{
  &__img{
    max-width: 365px;
    width: 100%;
    padding-bottom: 69px;
    @include max-w(640){
      max-width: 100%;
    }
  }
  &__description{
    max-width: 560px;
    width: calc(100% - 365px);
    padding-left: 20px;
    @include max-w(640){
      max-width: 100%;
      width: 100%;
      text-align: center;
    }
    p{
      line-height: 22px;
      margin-bottom: 22px;
    }
    .btn{
      margin-top: 5px;
    }
  }
}
.video-story{

  text-align: center;
  height: 551px;
  @include max-w(430){
    height: auto;
  }
  .container{
    position: relative;
    z-index: 1;
  }
  .play{
    background: url("./../images/trangle.png") center no-repeat;
    width: 100px;
    height: 100px;
    border: 3px solid white;
    border-radius: 50%;
    display: inline-block;
    margin-bottom: 29px;
    margin-top: 13px;
    &-caption{
      font-family: $font-roboto-black;
      width: 100%;
    }
  }
}
#fixed-container{
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right, rgba(#09052f, .85) 0%, rgba(#311d5e, .85) 100%);
  &.active{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .video-container{
    background-color: transparent;
    margin: 0 auto;
    max-width: 580px;
    padding: 0 10px;
    margin-top: calc(50vh - 157px);
  }
}
.service{
  text-align: center;
  padding: 64px 0 69px 0;
  h2{
    margin-bottom: 11px;
  }
  .subtitle:after{
    background-color: rgba(#413d4b, .3);
    bottom: -19px;
  }
  &__blocks{
    padding: 67px 0 0 0;
  }
  &__block{
    max-width: 310px;
    width: 33.333333%;
    &:not(:nth-of-type(3n+1)){
      border-left: 1px solid $black;
    }
    &:nth-of-type(-n+3){
      border-bottom: 1px solid $black;
    }
    @include max-w(640){
      width: 100%;
      border: none!important;
    }
    .wrap-img{
      height: 115px;
      width: 115px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    h4{
      width: 100%;
      color: $text-color;
    }
    p{
      line-height: 22px;
      margin: 8px 15px 36px 15px;
    }
  }
}

.team{
  background: url("./../images/test.jpg") center/cover no-repeat;
  text-align: center;
  padding: 65px 0 44px 0;
  &__blocks{
    margin: 0 -10px;
    padding: 66px 0 51px 0;
  }
  &__block{
    max-width: 220px;
    width: 100%;
    margin: 0 10px 20px 10px;
    border: 1px solid $white;
    padding-bottom: 19px;
    h4{
      width: 100%;
      margin: 21px 0 5px 0;
    }
    span{
      font-size: 13px;
      text-transform: uppercase;
    }
  }
  &__caption{
    width: 100%;
    color: #f3f3f3;
    font-size: 14px;
    display: inline-block;
  }
  h2{
    margin-bottom: 11px;
  }
  .container{
    position: relative;
    z-index: 1;
  }
  .wrap-img{
    width: 100%;
    height: 229px;
    background-color: $white;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .btn{
    margin: 24px 0 25px 0;
    max-width: 141px;
  }
  .subtitle.underline-title:after{
    background-color: rgba($white, .2);
  }
}
.works{
  text-align: center;
  padding: 64px 0 70px 0;
  &__row{
    max-width: 1630px;
    width: 100%;
    height: 100%;
  }
  &__blocks{
    padding: 48px 0 71px 0;
    @include max-w(430){
      width: 100%;
    }
    .wrap-img{
      //max-width: 267px;
      max-width: calc(100%/6);
      width: 100%;
      //height: 200px;
      //height: calc(100%/2);
      @include max-w(640){
        max-width: calc(100%/3);
        height: auto;
      }
      @include max-w(430){
        max-width: calc(100%/2);
        height: auto;
      }
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  h2{
    text-align: left;
    @include max-w(430){
      text-align: center;
    }
    a{
      color: $text-color;
      font-family: $font-family;
      font-size: 14px;
      float: right;
      padding-top: 6px;
      @include max-w(430){
        display: block;
        width: 100%;
      }
      &:after{
        content: url("./../images/right-mini.png");
        margin-left: 10px;
      }
    }
  }
  .btn{
    max-width: 140px;
  }
}
.testimonials{
  background: url("./../images/testimon.jpg") center/cover no-repeat;
  text-align: center;
  padding: 69px 0 29px 0;
  &__description{
    p{
      max-width: 770px;
      color: rgba($white, .85);
      font-family: $font-display-regular;
      font-size: 16px;
      line-height: 26px;
      text-align: center;
      margin: 0 auto;
      padding: 37px 0 0 0;
    }
  }
  .container{
    position: relative;
    z-index: 1;
  }
}
.slider.center{
  max-width: 330px;
  margin: 0 auto;
  padding-top: 35px;
  .wrap-img{
    width: 45px;
    height: 45px;
    overflow: hidden;
    border-radius: 50%;
    margin: 13px auto;
  }
  .slide{
    position: relative;
    &:focus{
      outline: none;
    }
    &-info{
      position: absolute;
      left: -200%;
      top: -80px;
      width: 330px;
      min-height: 45px;
      opacity: 0;
      @include max-w(430){
        left: calc(-150px + 43px);
        width: 300px;
      }
      &:focus{
        outline: none;
      }
    }
    &-position{
      opacity: 0.7;
      color: white;
      font-size: 13px;
      text-transform: uppercase;
    }
  }
  .slick{
    &-track{
      padding-top: 90px;
    }
    &-list{
      height: 200px;
    }
    &-current{
      .slide-info{
        opacity: 1;
      }
      .wrap-img{
        width: 70px;
        height: 70px;
        margin-top: 0;
        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
    &-prev{
      width: 11px;
      height: 21px;
      padding: 10px 5px;
      background: url("../images/back.png") left no-repeat;
      top: 69%;
      left: -30px;
      &:before{
        display: none;
      }
      @include max-w(430){
        left: 0;
      }
    }
    &-next{
      width: 11px;
      height: 21px;
      background: url("../images/next.png") right no-repeat;
      top: 69%;
      right: -30px;
      &:before{
        display: none;
      }
      @include max-w(430){
        right: 0;
      }
    }
  }
}
.contact{
  padding: 65px 0 57px 0;
  @include max-w(640){
    text-align: center;
  }
  &__form{
    max-width: 460px;
    width: 50%;
    @include max-w(640){
      width: 100%;
      margin: 0 auto;
      padding-bottom: 60px;
    }
  }
  &__client{
    max-width: 400px;
    padding-left: 20px;
    width: 50%;
    @include max-w(640){
      width: 100%;
      margin: 0 auto;
      padding-left: 0;
    }
    ul{
      padding: 25px 0 0 0;
      li{
        width: 50%;
        max-width: 140px;
        padding-bottom: 46px;
        display: flex;
        align-items: center;
        justify-content: center;
        @include max-w(430){
          width: 100%;
          max-width: 100%;
        }
      }
    }
  }
  form{
    padding: 5px 0 0 0;
    textarea{
      height: 199px;
      margin-bottom: 17px!important;
    }
  }
}